<!DOCTYPE>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    Add Employee
</head>
<body>
<form action="#" th:action ="@{/add}" th:object="${customer}" method="post">
    <div>
        <label>First Name</label>
        <input type="text" th:field="*{firstName}" /></div>

    <div>
        <label>Last Name</label>
        <input type="text" th:field="*{lastName}" /></div>

    <div>
        <label>Email id</label>
        <input type="text" th:field="*{emailId}" /></div>


    <div>
        <label>Product</label>
        <input type="text" th:field="*{product}" /></div>

    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        submit
        <input type="submit" value="SUBMIT">
    </div>
</form>

</body>

</html>